{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "printWidth": 150,
  "useTabs": false,
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true
}